hive_connector:
  Type: Hive Client Wrapper
  Host: master-03.tdp
  schema: default
  Port: 10001
  Extra: {"use_beeline:"true","auth":"kerberos:principle=hive/_HOST@REALM.TDP;transportMode=http;httpPath=cliservice;ssl=true;sslTrustStore=/etc/ssl/certs/trustore.jks;trustStorePassword=Trustore123!"}
